* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  display: grid;
  grid-template: 70px 5fr 50px / 1fr;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.header-nav {
  display: flex;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: #fff;
}

.open-dialog-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
}

.add-book-dialog {
  background-color: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 10px 9px 9px 0px #919191;
}

#add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: aquamarine;
  gap: 30px;
  padding: 60px 40px;
  border-radius: 10px;
}

#add-form h3 {
  font-size: 28px;
}

.form-infos {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-infos input {
  border-radius: 10px;
  padding: 10px;
  font-size: inherit;
  outline: none;  
}

.form-infos input:not([type="checkbox"]):focus,
.form-button:hover, .cancel-btn:hover {
  transform: scale(1.05);
  box-shadow: 3px 4px 6px 0px #919191;
}

.form-infos input:not([type="checkbox"]),
.form-button, .cancel-btn{
  transition: 0.2s ease-in-out;
}

.is-read-label {
  cursor: pointer;
}

.is-read {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.is-read:checked {
  accent-color: #7d2ae8;
}

.check-div {
  display: flex;
  gap: 5px;
}

.form-button {
  border-radius: 10px;
  padding: 16px 60px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  background-color: #7d2ae8;
  color: #fff;
  font-weight: bold;
}

.cancel-btn-container{
  text-align: justify;
}

.cancel-btn{
  background-color: #7d2ae8;
  cursor: pointer;
  border-radius: 15px;
  padding: 6px 17px;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}

.hero {
  background-color: antiquewhite;
  background-color: antiquewhite;
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-template-rows: repeat(auto-fit, 270px);
  gap: 30px;
}

.card {
  background-color: aqua;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  box-shadow: 5px 5px 6px 0px #919191;
}

.footer {
  background-color: black;
}
